<h1 class="title">burgers!</h1>

<img class="burgerImg" src="https://elements.evonik.com/wp-content/uploads/2019/11/burger-fb.jpg" />
<div>
  <div class="availableBurgers">
    <h2>Available burgers</h2>
    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="eaten">
    <h2>Burgers devoured</h2>
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="addBurger">
  <h2>Add a burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="bu">Enter Burger Name:</label>
      <input type="text" id="bu" name="name">
    </div>

    <div class="form-group">
      {{!-- <label for="devo">dvoure?</label><br> --}}
      <input type="radio" name="devoured" value="1" checked> Devoured!<br>
      <input type="radio" name="devoured" value="0"> not Eaten.
    </div>

    <button type="submit" class="submit">Add burger</button>
  </form>
</div>
{{!-- <form class="create-form">

  <div class="form-group">
    <label for="bu">burger Name:</label>
    <input type="text" id="" name="name">
  </div>


  <button type="submit">Add burger</button> --}}
  {{!--
</form> --}}