body{
  background-color: rgb(133, 191, 240);
  text-align: center;
  font-size: 25px;
}
.title{
  font-size: 70px;
  color: brown;
  text-align: center;
  background-color: cornflowerblue;
  padding: 10px;
}
.burgerImg{
  width: 600px;
  height: 315px;
  border-radius: 10px;
}
h2{
  color: brown;
  font-size: 40px;
}
.availableBurgers{
  float: left;
  text-align: center;
}
.eaten{
float: right;
}
.addBurger{
text-align: center;

}
li {
  padding: 5px;
  margin: 5px;
list-style: none;

}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.change-devoured{
  border-radius: 5px;
  padding:5px;
}
.delete-button{
border-radius: 5px;
padding:5px;
}
.submit{
  border-radius: 5px;
padding:5px;
margin-top: 5px;

}
